/* 一覧ページ */
.wrapper {
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-around;
  height: 80px;
}

h1 {
  font-size: 40px;
  padding-top: 10px;
  color: #fff;
}

.main {
  height: calc(100vh - 80px);
  overflow: scroll;
}





/* 新規投稿ページ */
.post_form {
  height: 100vh;
  font-size: 30px;
}