/* 一覧ページ */
.wrapper {
  width: 100%;
}

.header {
  display: flex;
  height: 80px;
  width: 100vw;
  background-color:coral;
}




.app_title {
  font-size: 40px;
  color: #fff;
  padding-left: 20px;
}

.page_btn {

}

.current_user_name {

}

.new_post_btn {
}

.main {
  height: calc(100vh - 80px);
  overflow: scroll;
}




/* _postテンプレート */
.post_info {
  text-align: center;
}


.post_delete {
  margin-bottom: 40px;
}






/* 新規投稿ページ */
.post_form {
  height: 100vh;
  font-size: 30px;
  padding-top: 20px;
  display: flex;
}

